---
template: ri-form.html
emoji: {{ resource.emoji }}
name: {{ resource.name }}
description: {{ resource.name }}
minutes_before_reminder: {{ resource.minutes_before_reminder }}
allow_end_next_day: {{ resource.allow_end_next_day }}
allow_shareable: {{ resource.allow_shareable }}
route_prefix: {{ resource.route_prefix }}
image: {{ resource.image }}
contact_email: {{ resource.contact_email  }}
time_slots: {{ time_slots }}
custom_form_fields: {{ custom_form_fields }}
---
