name: update README

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        # with:
        #   # force a full checkout for proper git history and don't save the credentials for future steps to steal
        #   persist-credentials: false
        #   fetch-depth: 0
        #   ref: refs/heads/${{ github.head_ref }}

      - name: Markdown autodocs
        uses: dineshsonachalam/markdown-autodocs@v1.0.7
        with:
          commit_message: updated README with source includes
          output_file_paths: "[./README.md]"
          # Categories to automatically sync or transform contents in the markdown files.
          # Defaults to '[code-block,json-to-html-table,workflow-artifact-table]'
          categories: "[code-block]"
