name: Deploy Docs
on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      # - name: Configure Git Credentials
      # run: |
      #   git config user.name github-actions[bot]
      #   git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.13"

      - name: Rotate cache weekly
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v5.0.3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: mkdocs-material-

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install . --group docs

      - name: Unleash the Docs!
        run: mkdocs gh-deploy --force
